.heroSectionStyle{
    display: flex;
    flex-direction: column;
    justify-Content: center;
    align-Items: center;
    background-image: url(/background.jpg);
    min-Height: 100vh;
    min-Width: 100%;
    color: #fff;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5px;
}

.buttonContainerStyle {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-Content: center;
    align-Items: center;
    margin-Top: 20;
}

.buttonStyle {
    margin: 10;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    margin-Top: 20;
}

#primaryButton {
    display: flex;
    width: 200%;
    height: 100%;
    background-color: #170C75;
    color: #fff;
    border-color: #000;
}

#loginButton {
    display: flex;
    width: 75%;
    height: 15%;
    background-color: #fff;
    color: #170C75;
    border-color: #000;
}